*{
    background-color: antiquewhite;
    font-family: "Libre Baskerville", serif;
    font-weight: 1000;
    margin: 8px
    
}
a{
    padding: auto;
    color: blue;

}
.h1-text{
    background-color: antiquewhite;
    color: blue;
    text-align: center;
}
img{
    height: auto;
    width: 500px;
}
.lasagna-pic{
    width:600px;
}
.main-div{
    /*border: 1px solid black;*/
    padding: 10px;
    text-align: center;
    font-weight: 400;
}
li{
    padding:5px
}

#main-content-container{
    display: grid;
    grid-template-columns: 1fr ; 
    grid-template-rows: 1fr 1fr; 
}
.item-main{
    grid-area: span;
    padding: 50px;
    text-align: center;
    
}
.test{
    width: 100px;
    height: 100px;
    background-color: red;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px ;
}

.item-one{
    border: 2px hidden white;
    grid-row: 1 / 3;
    grid-column: 1/3;
    flex:1;

}
.item-two{
    border: 10px hidden white;
    grid-area: auto;
    padding: 5px;
    flex :1;
}
.item-three{
    border: 10px hidden white;
    grid-area:auto;
    flex:1;
}

.item-one:hover, .item-two:hover, .item-three:hover{
    translate: 4px -5px;
}

.btn{
    background-color: hidden;
    padding: 10px;
    border: 1px hidden black
}